:root {
    --backLight: #fff;
    --txtLight: #000;
    --backDark: #000;
    --txtDark: #fff;
    --backLightTP: #fff9;
    --backDarkTP: #0009;

    --b1: #FF303099;
    --b2: #1C86EE99;
    --b3: #FFD70099;
    --b4: #00FF7F99;
}